<table align="center" width=100%>
    <tr>
        <td width="20%">
            <img src="GL-2.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Practice Set <br>(Week 1)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A text is given below. Write a program to find the character which is at the index position obtained by adding the indices of the character 'o' of the word 'Hello' and 'o' of the word 'welcome'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>string = "Hello, welcome to my world." </b>

In [10]:
# CASE 1
# string = "Hello, welcome to my world."
# str1 = "Hello"
# str2 = "Welcome"
# result = str1.index('o') + str2.index('o')
# print(string[result])
# output is 'e'

# CASE 2 
# string = "Hello, welcome to my world."
# str1 = string.index('o')
# str2 = string.index('o',str1 + 1)
# result = str1 + str2
# print(string[result])
#output is 't'

t

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 1. Create a tuple with single value '5'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [15]:
my_tuple = (5,)
type(my_tuple)

tuple

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a program that takes two dictionaries and concatenates them into one dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below dictionaries:**

dictionary_1 = {'A':1, 'B':2}<br>

dictionary_2 = {'C':3}

In [20]:
dictionary_1 = {'A':1, 'B':2}
dictionary_2 = {'C':3}
dictionary_1.update(dictionary_2)
print(dictionary_1)

# OR

dictionary_1 = {'A':1, 'B':2}

dictionary_2 = {'C':3}

for k,v in dictionary_1.items():
    dictionary_2[k]=v
    
dictionary_2

{'A': 1, 'B': 2, 'C': 3}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Check whether the set X and Y are disjoint or not </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sets below (or create your own sets):**

#### Set X
X = {4, 5, 11, 34, 4, 56, 44, 67, 67, 5, 12, 34, 16, 9, 22, 23, 56, 34, 33, 89, 78, 45, 33, 78, 34, 45, 12, 45, 56 }

#### Set Y
Y = {41, 52, 63, 56, 67, 45, 99, 56, 45, 23, 45, 63, 45, 56, 45, 55, 56, 56, 12, 86, 67, 55, 56, 34, 89}

In [21]:
X = {4, 5, 11, 34, 4, 56, 44, 67, 67, 5, 12, 34, 16, 9, 22, 23, 56, 34, 33, 89, 78, 45, 33, 78, 34, 45, 12, 45, 56 }
Y = {41, 52, 63, 56, 67, 45, 99, 56, 45, 23, 45, 63, 45, 56, 45, 55, 56, 56, 12, 86, 67, 55, 56, 34, 89}
X.isdisjoint(Y)

False

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Retrieve the third element in the given list</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**
    
num_list = [5, 3, 6, 1, 85, 23, 5, 13]

In [23]:
num_list = [5, 3, 6, 1, 85, 23, 5, 13]
num_list[2]

6

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Count the occurance of number -6 in the given tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple given below:**
    
num_tuple = (-4, 7, -8, -9, 8, -6, 7, 3, -6, 1, -8, -6)

In [24]:
num_tuple = (-4, 7, -8, -9, 8, -6, 7, 3, -6, 1, -8, -6)
i = 0 
count = 0
for i in num_tuple:
    if i == -6:
        count+=1
print(count)

3

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 6. Check whether the number 53 is in the given list or not</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**
    
num_list = [5, 3, 6, 1, 85, 23, 5, 13]

In [25]:
num_list = [5, 3, 6, 1, 85, 23, 5, 13]
if 53 in num_list:
    print("Yes there")
else:
    print("Not there")

Not there

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 7. Remove number 3 from a given set </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the set below:**

numbers = {2, 3, 4, 5}

In [27]:
numbers = {2, 3, 4, 5}
numbers.remove(3)
numbers

{2, 4, 5}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a program to convert a list into tuple  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list below:**

num_list = [24, 18, 24, 47, 52]

In [30]:
num_list = [24, 18, 24, 47, 52]
print(type(tuple(num_list)))
print(num_list)

<class 'tuple'>
[24, 18, 24, 47, 52]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a program to retrieve the capital of 'Germany' from a given dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary given below:**

europe = { 'Spain': { 'Capital':'Madrid', 'Population':4.77 },
           'France': { 'Capital':'Paris', 'Population':6.7 },
           'Germany': { 'Capital':'Berlin', 'Population':8.28 },
           'Norway': { 'Capital':'Oslo', 'Population':0.533 } }

In [6]:
europe = { 'Spain': { 'Capital':'Madrid', 'Population':4.77 }, 'France': { 'Capital':'Paris', 'Population':6.7 }, 'Germany': { 'Capital':'Berlin', 'Population':8.28 }, 'Norway': { 'Capital':'Oslo', 'Population':0.533 } }


print(europe['Germany']['Capital'])

# OR

for k,v in europe.items():
    if k=='Germany':
        print(v['Capital'])

Berlin

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Find maximum and the minimum value from a given set </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the elements:**
    
5, 10, 3, 15, 2, 20, 10, 5, 4, 3

In [14]:
#CASE 1
#ok = {5, 10, 3, 15, 2, 20, 10, 5, 4, 3}
# listy = list(ok)
# print("min is ",listy[0],"max is",listy[-1])

#CASE 2 
#print(max(ok),min(ok))

20 2

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Write a program to check whether two strings are anagram or not (take input from user)</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**Hint: An anagram of a string is another string that contains same characters, only the order of characters can be different.**

In [22]:
str1="hello"
str2="oslleh"

if len(str1)==len(str2):
    if(sorted(str1.lower())==(sorted(str2.lower()))):
       print("Aanagram")

else:
    print("Not ana")

Enter 1st stringaaa
Enter 2nd stringbbb
Strings are not anagram

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Write a pseudo code to print whether a number is divisible by 9 and a multiple of 6 (take input from the user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# start
# Take input from the user
# check n/9 and n/6
# stop

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13.. Write a pseudo to take 5 values from user and print their average using while loop (take input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write a program to find the largest number out of three numbers expected from users.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [24]:
a = 100
b = 11
c = 12
if (a>b and a>c):
    print("a is largerst")
elif (b>a and b>c):
    print("b is largerst")
else:
    print("c is largest")

a is largerst

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a program to check whether a person is eligible for voting or not.(voting age >=18)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [25]:
age = int(input("Enter the age\n"))
if age >= 18:
    print("Can Vote")
else:
    print("Cannot vote")

Enter the age
55
Can Vote

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16.Write a program to swap the two integers passed as runtime variables</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
num1 = int(input("Enter 1st Number"))
num2 = int(input("Enter 2nd Number"))
# num3 = 0 
# num3 = num1
# num1 = num2 
# num2 = num3 
# print("swaped values are",num1," ",num2)

# OR 

num1,num2=num2,num1
print("swaped values are",num1," ",num2)

Enter 1st Number10
Enter 2nd Number20
swaped values are 20   10

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17.A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years.
Ask user for their salary and year of service and print the net bonus amount.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [30]:
salary = int(input("Enter salary"))
service = int(input("Enter service_years"))
if service >5:
    print("bonus",(5*salary)/100)
    print("Net_salary = ",salary + (5*salary)/100)

Enter salary52222
Enter service_years10
bonus 2611.1
Net_salary =  54833.1

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18.A student will not be allowed to sit in exam if his/her attendence is less than 75%.
Take following input from user
                        
Number of classes held
                        
Number of classes attended.
                        
And print
                        
percentage of class attended
                        
Is student is allowed to sit in exam or not..</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [33]:
Total_classess = 200
classes = int(input("Enter no of classes attended"))
attend = (classes/Total_classess)*100
if attend <75:
    print("Nt allowed attend is ",attend)
else:
    print("Good attend is ",attend)

Enter no of classes attended100
Nt allowed attend is  50.0

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19.Create a Python set such that it shows the element from both lists in a pair.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Input**

first_list = [2, 3, 4, 5, 6, 7, 8]

second_list = [4, 9, 16, 25, 36, 49, 64]

**Expected Output**
{(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [38]:
first_list = [2, 3, 4, 5, 6, 7, 8]

second_list = [4, 9, 16, 25, 36, 49, 64]

result = zip(first_list,second_list)
print(set(result))

{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20.Remove duplicates from a list and create a tuple and find the minimum and maximum number</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Input**

sample_list = [87, 45, 41, 65, 94, 41, 99, 94]

**Expected Output**

unique items [87, 45, 41, 65,94, 99]

tuple (87, 45, 41, 65,94, 99)

min: 41

max: 99

In [39]:
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
sl = set(sample_list)
print(sl)

{65, 99, 41, 45, 87, 94}

In [41]:
mytuple = sorted(tuple(sl))

In [43]:
print("MIN MAX",mytuple[0],mytuple[-1])

MIN MAX 41 99